* {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    
  }


.main {
    display: grid; 
    height: 1600px;
    grid-template-columns: 200px 700px 300px; 
    grid-template-rows: 130px 500px 300px; 
    gap: 10px 40px; 
    grid-template-areas: 
      "header header header"
      "menuu images images"
      "menuu images images"; 
  }

  .header { grid-area: header;
    padding: 10px 10px 10px 10px;
    
             }          
             .header:hover{
                text-decoration-style: double;
                text-transform: uppercase;
                text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
            }                  



  .menu { 
      padding: 30px 30px 10px 10px;
      grid-area: menuu;
      /*box-shadow: 2px 2px 20px 30px rgba(250, 172, 172, 0.541);*/
       }
       ul {
        list-style-type: "~ ";
    }
    
      .menu li:hover{
          text-decoration-style: double;
          text-transform: uppercase;
          text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      }             
       


  .images { grid-area: images;
            overflow:auto;
            display: grid;
            justify-items: center;
            padding: 30px 30px 30px 30px;
            
            
            }
            .images img {
                max-width: 100%;
                height: auto;
                
                
            }



 
    
  

